Repository m-ruban/gh-map: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, git add ., yarn stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx}": ["eslint --fix", "git add ."],
  '*.less': ['yarn stylelint --fix'],
}

add map view for genre list
  src/apps/Map/index.js
  src/apps/Map/modules/mini-constants.ts
  src/apps/Map/modules/routes.ts
  src/apps/Map/pages/GenreDetail/map/index.ts
  src/apps/Map/pages/GenreList/map/GenreItem.ts
  src/apps/Map/pages/GenreList/map/index.ts
Due: eslint --fix, git add .

map refactoring
  src/apps/Map/components/Genre/index.ts
  src/apps/Map/modules/listeners.ts
  src/modules/MapEvent.ts
  src/modules/events.ts
Due: none

mini map refactoring
  src/apps/Map/modules/constants.ts
  src/apps/Map/modules/mini-map.ts
Due: none

add mini map for genre page
  src/apps/Map/components/MiniEventsList/index.ts
  src/apps/Map/components/MiniGenreItem/index.ts
  src/apps/Map/components/Selection/index.ts
  src/apps/Map/index.js
  src/apps/Map/pages/GenreDetail/map/index.ts
  src/apps/Map/pages/GenreList/map/index.ts
Due: eslint --fix, git add .

update event model
  src/models/genre.ts
Due: none

add gallery component
  src/apps/SideBars/components/Gallery/gallery.less
  src/apps/SideBars/components/Gallery/index.tsx
Due: yarn stylelint --fix

pass event images data
  src/apps/Map/components/GenreEvent/Info.ts
  src/apps/Map/components/GenreEvent/index.ts
  src/apps/Map/components/GenreEventsLine/index.ts
Due: none

use gallery components into artivle view
  src/apps/SideBars/components/ArticleView/article-view.less
  src/apps/SideBars/components/ArticleView/index.tsx
Due: yarn stylelint --fix

add article link into cropped text
  src/apps/Map/components/GenreEvent/Info.ts
  src/apps/Map/components/GenreEvent/index.ts
  src/apps/Map/components/GenreEventsLine/index.ts
  src/apps/SideBars/components/ArticleView/index.tsx
  src/models/genre.ts
  src/modules/image.ts
Due: none
