Repository m-ruban/gh-map: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, git add ., yarn stylelint --fix

add shared article
  src/apps/Map/components/GenreEvent/Info.ts
  src/apps/SideBar/components/ArticleView/articleView.less
  src/apps/SideBar/components/ArticleView/index.tsx
  webpack.config.js
Due: eslint --fix, git add ., yarn stylelint --fix

some proxy for api
  src/apps/Map/modules/routes.ts
  webpack.config.js
Due: eslint --fix, git add .

clear old event and try optimize app
  src/apps/Map/components/Background/index.ts
  src/apps/Map/components/GenreEventsLine/Background.ts
  src/apps/Map/components/GenreEventsLine/ScrollTriangle.ts
  src/apps/Map/components/GenreEventsLine/index.ts
  src/apps/Map/components/GenreIcon/index.ts
  src/apps/Map/components/Timeline/index.ts
  src/apps/Map/components/YearLine/index.ts
  src/apps/Map/modules/app.ts
  src/apps/Map/modules/listeners.ts
  src/apps/Map/pages/GenreDetail/index.ts
  src/apps/Map/pages/GenreList/index.ts
  src/apps/SideBar/components/ArticleView/index.tsx
  src/modules/MapEvent.ts
Due: none

try to use reducer instead of evets
  src/apps/Map/components/Genre/index.ts
  src/apps/SideBar/components/GenreView/index.tsx
  src/models/genre.ts
  src/modules/MapEvent.ts
Due: none

delete search temprorary
  src/apps/SideBar/components/Search/index.tsx
  src/apps/SideBar/components/TopActions/index.tsx
Due: none

fix unstable sort for genve events
  src/apps/Map/components/GenreEventsLine/index.ts
  src/models/genre.ts
Due: none

add help section and change logo
  public/favicon.ico
  public/firemap.svg
  public/genre.jpg
  public/icons/boosty.svg
  public/index.html
  public/year.jpg
  src/apps/SideBar/components/BottomActions/index.tsx
  src/apps/SideBar/components/Help/help.less
  src/apps/SideBar/components/Help/index.tsx
  src/apps/SideBar/components/Info/index.tsx
  src/apps/SideBar/components/Logo/index.tsx
  src/apps/SideBar/components/MenuIcon/index.tsx
  src/apps/SideBar/components/MenuIcon/menu-icon.less
  src/apps/SideBar/components/MenuItem/index.tsx
  src/apps/SideBar/components/MenuItem/menu-item.less
  src/apps/SideBar/components/TopActions/index.tsx
  webpack.config.js
Due: eslint --fix, git add ., yarn stylelint --fix

add img directory
  public/img/genre.jpg
  public/img/year.jpg
  src/apps/SideBar/components/Help/index.tsx
  webpack.config.js
Due: eslint --fix, git add .

delete patreon icon
  public/icons/patreon.svg
Due: none

use new format for timeline
  src/apps/Map/components/Genre/GenreWrapper.ts
  src/apps/Map/components/Genre/index.ts
  src/models/genre.ts
Due: none

add description for element timeline
  src/apps/Map/components/GenreEvent/Info.ts
  src/apps/Map/components/GenreEvent/index.ts
  src/apps/Map/components/GenreEventsLine/index.ts
Due: none

clear public directory
  public/img/year.jpg
  public/index.html
Due: none

update some config
  tsconfig.json
  webpack.config.js
Due: eslint --fix, git add .

update common modules
  src/modules/Direction.ts
  src/modules/MapEvent.ts
  src/modules/events.ts
Due: none

refactor common app
  src/index.js
Due: eslint --fix, git add .

delete sidebar directory
  src/apps/SideBar/App.jsx
  src/apps/SideBar/App.less
  src/apps/SideBar/components/ArticleView/articleView.less
  src/apps/SideBar/components/ArticleView/index.tsx
  src/apps/SideBar/components/BottomActions/bottom-actions.less
  src/apps/SideBar/components/BottomActions/index.tsx
  src/apps/SideBar/components/GenreView/index.tsx
  src/apps/SideBar/components/Help/help.less
  src/apps/SideBar/components/Help/index.tsx
  src/apps/SideBar/components/Logo/index.tsx
  src/apps/SideBar/components/Logo/logo.less
  src/apps/SideBar/components/MenuIcon/index.tsx
  src/apps/SideBar/components/MenuIcon/menu-icon.less
  src/apps/SideBar/components/MenuItem/index.tsx
  src/apps/SideBar/components/MenuItem/menu-item.less
  src/apps/SideBar/components/MobileAlert/index.tsx
  src/apps/SideBar/components/MobileAlert/mobile-alert.less
  src/apps/SideBar/components/TipView/index.tsx
  src/apps/SideBar/components/TopActions/index.tsx
  src/apps/SideBar/components/TopActions/top-actions.less
  src/apps/SideBar/dimensions.less
  src/apps/SideBar/index.js
Due: eslint --fix, git add ., yarn stylelint --fix

refactor sidebars
  src/apps/SideBars/App.jsx
  src/apps/SideBars/App.less
  src/apps/SideBars/components/ArticleView/article-view.less
  src/apps/SideBars/components/ArticleView/index.tsx
  src/apps/SideBars/components/BottomActions/bottom-actions.less
  src/apps/SideBars/components/BottomActions/index.tsx
  src/apps/SideBars/components/Frame/frame.less
  src/apps/SideBars/components/Frame/index.tsx
  src/apps/SideBars/components/Help/help.less
  src/apps/SideBars/components/Help/index.tsx
  src/apps/SideBars/components/Loader/index.tsx
  src/apps/SideBars/components/Loader/loader.less
  src/apps/SideBars/components/Logo/index.tsx
  src/apps/SideBars/components/Logo/logo.less
  src/apps/SideBars/components/MapContainer/index.tsx
  src/apps/SideBars/components/MapContainer/map-container.less
  src/apps/SideBars/components/MenuIcon/index.tsx
  src/apps/SideBars/components/MenuIcon/menu-icon.less
  src/apps/SideBars/components/MenuItem/index.tsx
  src/apps/SideBars/components/MenuItem/menu-item.less
  src/apps/SideBars/components/MiniMap/index.tsx
  src/apps/SideBars/components/MiniMap/mini-map.less
  src/apps/SideBars/components/MobileAlert/index.tsx
  src/apps/SideBars/components/MobileAlert/mobile-alert.less
  src/apps/SideBars/components/TopActions/index.tsx
  src/apps/SideBars/components/TopActions/top-actions.less
  src/apps/SideBars/components/_ArticleView/articleView.less
  src/apps/SideBars/components/_ArticleView/index.tsx
  src/apps/SideBars/components/_GenreView/index.tsx
  src/apps/SideBars/components/_TipView/index.tsx
  src/apps/SideBars/index.js
Due: eslint --fix, git add ., yarn stylelint --fix

refactor map
  src/apps/Map/components/GenreIcon/index.ts
  src/apps/Map/components/GenreListView/GenreListInfo.ts
  src/apps/Map/components/GenreTitle/index.ts
  src/apps/Map/components/InfoTip/index.ts
  src/apps/Map/components/Year/Title.ts
  src/apps/Map/index.js
  src/apps/Map/modules/app.ts
  src/apps/Map/modules/constants.ts
  src/apps/Map/modules/listeners.ts
Due: eslint --fix, git add .

fix frame links
  src/apps/SideBars/components/Frame/frame.less
Due: yarn stylelint --fix

new article view
  src/apps/SideBars/components/ArticleView/article-view.less
  src/apps/SideBars/components/ArticleView/index.tsx
  src/apps/SideBars/components/_ArticleView/articleView.less
  src/apps/SideBars/components/_ArticleView/index.tsx
  src/apps/SideBars/components/_GenreView/index.tsx
  src/apps/SideBars/components/_TipView/index.tsx
Due: yarn stylelint --fix

add title state for map view
  src/apps/SideBars/components/MapContainer/index.tsx
Due: none

fix app layout
  src/apps/SideBars/App.less
Due: yarn stylelint --fix

refactor map based on new size
  src/apps/Map/components/Genre/Description.ts
  src/apps/Map/components/Genre/GenreWrapper.ts
  src/apps/Map/components/Genre/index.ts
  src/apps/Map/components/GenreEvent/Info.ts
  src/apps/Map/components/GenreEvent/constants.ts
  src/apps/Map/components/InfoTip/constants.ts
  src/apps/Map/components/Year/Title.ts
  src/apps/Map/index.js
  src/apps/Map/modules/app.ts
  src/apps/Map/modules/constants.ts
Due: eslint --fix, git add .

cache static containers
  src/apps/Map/components/Genre/Description.ts
  src/apps/Map/components/Genre/GenreWrapper.ts
  src/apps/Map/components/Genre/PartTimeline.ts
  src/apps/Map/components/GenreEvent/Image.ts
  src/apps/Map/components/GenreEvent/TitleWrapper.ts
  src/apps/Map/components/GenreListView/GenreListInfo.ts
  src/apps/Map/components/GenreListView/index.ts
  src/apps/Map/components/InfoTip/index.ts
  src/apps/Map/components/Year/Title.ts
  src/apps/Map/components/Year/Wrapper.ts
  src/apps/Map/components/YearLine/index.ts
  src/apps/Map/modules/constants.ts
  src/apps/Map/pages/GenreList/DummyGenre.ts
Due: none

use culling for event lines
  src/apps/Map/components/Genre/index.ts
Due: none

fix warring
  yarn.lock
Due: none

fix some animation
  src/apps/SideBars/components/ArticleView/article-view.less
  src/apps/SideBars/components/Frame/frame.less
  src/apps/SideBars/components/MapContainer/index.tsx
  src/apps/SideBars/components/MapContainer/map-container.less
  src/apps/SideBars/components/MenuIcon/menu-icon.less
Due: yarn stylelint --fix

add culling module
  src/apps/Map/modules/culling.ts
Due: none

add speed for scroll
  src/apps/Map/modules/listeners.ts
Due: none

add press animation on info tip
  src/apps/Map/components/InfoTip/index.ts
Due: none

use culling for major objects
  src/apps/Map/components/Genre/index.ts
  src/apps/Map/components/GenreListView/GenreListWrapper.ts
  src/apps/Map/components/GenreListView/index.ts
  src/apps/Map/components/Timeline/index.ts
  src/apps/Map/modules/constants.ts
Due: none

refacctor genre list view for use culling
  src/apps/Map/components/GenreListView/GenreListInfo.ts
  src/apps/Map/components/GenreListView/GenreListWrapper.ts
  src/apps/Map/components/GenreListView/index.ts
  src/apps/Map/components/InfoTip/index.ts
Due: none

update depencies
  package.json
  yarn.lock
Due: none

add animation into canvas
  src/apps/Map/components/Genre/index.ts
  src/apps/Map/components/GenreEvent/Info.ts
  src/apps/Map/components/GenreListView/GenreListInfo.ts
  src/apps/Map/components/InfoTip/index.ts
  src/apps/Map/modules/animations.ts
Due: none

add typing animation
  .stylelintrc
  src/apps/SideBars/components/ArticleView/article-view.less
  src/apps/SideBars/components/ArticleView/index.tsx
  src/apps/SideBars/components/Help/index.tsx
Due: yarn stylelint --fix

mini map container
  src/apps/Map/index.js
  src/apps/SideBars/components/MiniMap/index.tsx
  src/apps/SideBars/components/MiniMap/mini-map.less
Due: eslint --fix, git add ., yarn stylelint --fix

prepare map container
  src/apps/SideBars/components/MiniMap/index.tsx
  src/apps/SideBars/components/MiniMap/mini-map.less
Due: yarn stylelint --fix

litle refactoring for app
  src/apps/Map/components/Year/Wrapper.ts
  src/apps/Map/modules/app.ts
  src/apps/Map/modules/listeners.ts
Due: none

add mini map app
  src/apps/Map/modules/mini-map.ts
Due: none

mini map components
  src/apps/Map/components/MiniYears/index.ts
  src/apps/Map/components/Selection/index.ts
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  git add .: any of: *.{js,jsx}
  yarn stylelint --fix: any of: *.less
