Repository m-ruban/gh-map: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, git add ., yarn stylelint --fix

add infotip
  public/OpenSans.woff
  src/Map/components/InfoTip/InfoTipText.js
  src/Map/components/InfoTip/Triangle.js
  src/Map/components/InfoTip/Trigger.js
  src/Map/components/InfoTip/Wrapper.js
  src/Map/components/InfoTip/constants.js
  src/Map/components/InfoTip/index.js
  src/Map/components/Year/InfoTip.js
  src/Map/components/Year/Title.js
  src/Map/components/Year/Wrapper.js
  src/Map/components/Year/index.js
  src/Map/modules/fonts.js
  src/Map/modules/timeline.js
Due: eslint --fix, git add .

fix precomit
  githooks/pre-commit
Due: none

enable ts
  .eslintrc.js
  .lintstagedrc
  .lintstagedrc.js
  babel.config.js
  package.json
  src/Map/components/MainChart/index.ts
  src/Map/modules/scrollable.ts
  src/SideBar/components/Logo/index.tsx
  src/SideBar/components/Search/index.tsx
  tsconfig.json
  webpack.config.js
Due: eslint --fix, git add .

some ts for omponents
  src/Map/components/InfoTip/InfoTipText.js
  src/Map/components/InfoTip/InfoTipText.ts
  src/Map/components/InfoTip/Triangle.ts
  src/Map/components/InfoTip/Trigger.ts
  src/Map/components/InfoTip/Wrapper.js
  src/Map/components/InfoTip/Wrapper.ts
  src/Map/components/InfoTip/constants.js
  src/Map/components/InfoTip/constants.ts
  src/Map/components/InfoTip/index.ts
  src/Map/components/Year/Title.js
  src/Map/components/Year/Title.ts
  src/Map/components/Year/Wrapper.ts
  src/Map/components/Year/index.ts
  src/Map/modules/chart.ts
  src/Map/modules/constants.js
  src/Map/modules/constants.ts
  src/Map/modules/fonts.ts
  src/Map/modules/scrollable.ts
  src/Map/modules/timeline.ts
Due: eslint --fix, git add .

add onResize
  src/Map/modules/app.js
  src/Map/modules/debounce.ts
  src/Map/modules/scrollable.ts
Due: eslint --fix, git add .

some refactoring
  public/game1.svg
  public/index.html
  public/rpg.svg
  src/Map/components/GenreEventsLine/index.ts
  src/Map/components/InfoTip/InfoTipContent.ts
  src/Map/components/InfoTip/TextWrapper.ts
  src/Map/components/InfoTip/index.ts
  src/Map/components/MainChart/index.ts
  src/Map/components/Timeline/index.ts
  src/Map/index.js
  src/Map/modules/app.js
  src/Map/modules/constants.ts
  src/Map/modules/fonts.ts
  src/Map/modules/listeners.ts
  src/Map/modules/scrollable.ts
  src/Map/modules/timeline.ts
  src/SideBar/components/Logo/index.tsx
  src/SideBar/components/Logo/logo.less
Due: eslint --fix, git add ., yarn stylelint --fix

scroll Triangle for event line
  src/Map/components/GenreEventsLine/Background.ts
  src/Map/components/GenreEventsLine/ScrollTriangle.ts
  src/Map/components/GenreEventsLine/index.ts
Due: none

work with scale
  .eslintrc.js
  public/index.html
  src/Map/components/Genre/index.ts
  src/Map/components/GenreEventsLine/Background.ts
  src/Map/components/GenreEventsLine/ScrollTriangle.ts
  src/Map/components/GenreEventsLine/index.ts
  src/Map/components/InfoTip/InfoTipContent.ts
  src/Map/components/InfoTip/TextWrapper.ts
  src/Map/components/InfoTip/Trigger.ts
  src/Map/components/InfoTip/index.ts
  src/Map/components/Timeline/index.ts
  src/Map/components/Year/index.ts
  src/Map/components/YearLine/index.ts
  src/Map/modules/chart.ts
  src/Map/modules/listeners.ts
  src/Map/modules/screen.ts
  src/Map/modules/timeline.ts
  src/SideBar/App.jsx
  src/SideBar/components/Search/index.tsx
  src/SideBar/components/Settings/index.tsx
  src/SideBar/components/Settings/settings.less
Due: eslint --fix, git add ., yarn stylelint --fix

deploy mvp
  .gitignore
  package.json
  public/fonts/OpenSans.woff
  public/fonts/montserrat.woff
  public/icons/game1.svg
  public/icons/info.svg
  public/icons/other.svg
  public/icons/pc.svg
  public/icons/rpg.svg
  public/images/1.jpg
  public/images/2.jpg
  public/images/3.jpg
  public/index.html
  public/styles.css
  src/Map/components/Genre/index.ts
  src/Map/components/GenreEvent/InfoIcon.ts
  src/Map/components/GenreEventsLine/index.ts
  src/Map/components/InfoTip/index.ts
  src/Map/modules/fonts.ts
  src/SideBar/App.less
  src/SideBar/components/Logo/index.tsx
  webpack.config.js
  yarn.lock
Due: eslint --fix, git add ., yarn stylelint --fix

menu actions
  public/icons/gamespirit.svg
  public/icons/help.svg
  public/icons/patreon.svg
  public/icons/steam.svg
  public/icons/zen.svg
  src/SideBar/App.jsx
  src/SideBar/App.less
  src/SideBar/components/BottomActions/bottom-actions.less
  src/SideBar/components/BottomActions/index.tsx
  src/SideBar/components/Help/index.tsx
  src/SideBar/components/Info/index.tsx
  src/SideBar/components/MenuIcon/index.tsx
  src/SideBar/components/MenuIcon/menu-icon.less
  src/SideBar/components/MenuItem/index.tsx
  src/SideBar/components/MenuItem/menu-item.less
  src/SideBar/components/Search/index.tsx
  src/SideBar/components/Search/search.less
  src/SideBar/components/TopActions/index.tsx
  src/SideBar/components/TopActions/top-actions.less
Due: eslint --fix, git add ., yarn stylelint --fix

bump gg-ukit version
  package.json
  webpack.config.js
  yarn.lock
Due: eslint --fix, git add .

add search icon
  public/icons/search.svg
  src/SideBar/components/MenuIcon/index.tsx
  src/SideBar/components/MenuIcon/menu-icon.less
  src/SideBar/components/Search/index.tsx
Due: yarn stylelint --fix

some fixes for sheet
  src/SideBar/App.jsx
  src/SideBar/App.less
Due: eslint --fix, git add ., yarn stylelint --fix

raise canvas event
  src/Map/components/Genre/Title.ts
  src/Map/components/Genre/index.ts
  src/Map/components/GenreEvent/TitleText.ts
  src/Map/components/InfoTip/index.ts
  src/Map/modules/CustomGameEvent.ts
  src/Map/modules/listeners.ts
Due: none

help and genre sheet
  src/SideBar/components/GenreView/index.tsx
Due: none

bump gg-ukit version
  package.json
  yarn.lock
Due: none

fix some config
  .eslintrc.js
  webpack.config.js
Due: eslint --fix, git add .

menu item refactor
  src/SideBar/components/Help/index.tsx
  src/SideBar/components/MenuItem/index.tsx
  src/SideBar/components/MenuItem/menu-item.less
Due: yarn stylelint --fix

events refactoring and update paths
  src/Map/components/Genre/index.ts
  src/Map/components/GenreEvent/InfoIcon.ts
  src/Map/components/GenreEventsLine/Background.ts
  src/Map/components/GenreEventsLine/ScrollTriangle.ts
  src/Map/components/GenreEventsLine/index.ts
  src/Map/components/InfoTip/index.ts
  src/Map/components/Year/index.ts
  src/Map/components/YearLine/index.ts
  src/Map/modules/CustomGameEvent.ts
  src/Map/modules/events.ts
  src/Map/modules/fonts.ts
  src/Map/modules/listeners.ts
  src/Map/modules/screen.ts
  src/SideBar/components/Settings/index.tsx
Due: none

add simple routing
  src/Map/index.js
  src/Map/pages/GenreDetail/Ground.ts
  src/Map/pages/GenreDetail/index.ts
  src/Map/pages/GenreList/index.ts
Due: eslint --fix, git add .

add icons
  public/icons/action.svg
  public/icons/adventure.svg
  public/icons/game.svg
  public/icons/stealth.svg
Due: none

background refactor
  src/Map/components/Background/index.tsx
Due: none

info tip refactor
  src/Map/components/InfoTip/InfoTipContent.ts
  src/Map/components/InfoTip/InfoTipPosition.ts
  src/Map/components/InfoTip/InfoTipText.ts
  src/Map/components/InfoTip/TextWrapper.ts
  src/Map/components/InfoTip/Triangle.ts
  src/Map/components/InfoTip/constants.ts
  src/Map/components/InfoTip/index.ts
  src/SideBar/App.jsx
  src/SideBar/components/TipView/index.tsx
Due: eslint --fix, git add .

constans and events refactoring
  src/Map/components/Genre/Description.ts
  src/Map/components/Genre/GenreWrapper.ts
  src/Map/components/Genre/PartTimeline.ts
  src/Map/components/Genre/constants.ts
  src/Map/components/Genre/index.ts
  src/Map/components/GenreIcon/index.ts
  src/Map/components/GenreTitle/index.ts
  src/Map/components/Timeline/index.ts
  src/Map/components/Year/Title.ts
  src/Map/components/Year/Wrapper.ts
  src/Map/components/Year/index.ts
  src/Map/components/YearLine/index.ts
  src/Map/modules/CustomGameEvent.ts
  src/Map/modules/constants.ts
  src/Map/modules/events.ts
  src/Map/modules/listeners.ts
  src/Map/pages/GenreDetail/Ground.ts
  src/Map/pages/GenreDetail/index.ts
Due: none

add basic routing
  src/Map/index.js
Due: eslint --fix, git add .

little path fix
  src/Map/components/GenreEvent/InfoIcon.ts
Due: none

add genre list item view
  src/Map/components/GenreListView/GenreListInfo.ts
  src/Map/components/GenreListView/GenreListWrapper.ts
  src/Map/components/GenreListView/index.tsx
  src/Map/pages/GenreList/DummyGenre.ts
  src/Map/pages/GenreList/index.ts
Due: none

to do delete
  src/Map/modules/listeners.ts
Due: none

add terser plugin and fix hover icon
  package.json
  src/Map/modules/listeners.ts
  webpack.config.js
  yarn.lock
Due: eslint --fix, git add .

disable mobile users
  .eslintrc.js
  src/Map/index.js
  src/Map/modules/app.js
  src/SideBar/App.jsx
  src/SideBar/components/MobileAlert/index.tsx
  src/SideBar/components/MobileAlert/mobile-alert.less
  src/SideBar/components/TopActions/index.tsx
  src/SideBar/dimensions.less
  src/mobile.js
Due: eslint --fix, git add ., yarn stylelint --fix

change click and hover area
  src/Map/components/Genre/index.ts
  src/Map/components/GenreEvent/Info.ts
  src/Map/components/GenreEvent/TitleText.ts
  src/Map/components/GenreListView/GenreListInfo.ts
  src/Map/components/GenreListView/index.tsx
  src/Map/components/GenreTitle/index.ts
Due: none

update mobile detect condiition
  src/mobile.js
Due: eslint --fix, git add .

bump ukit version
  package.json
  yarn.lock
Due: none

litle fix resolution
  src/Map/modules/constants.ts
  src/Map/pages/GenreList/index.ts
  src/SideBar/components/Settings/settings.less
Due: yarn stylelint --fix

add fetcher
  package.json
  src/Map/index.js
  src/Map/modules/fetcher.ts
  webpack.config.js
  yarn.lock
Due: eslint --fix, git add .

use api for genre list page
  src/apps/Map/components/Background/index.tsx
  src/apps/Map/components/Genre/index.ts
  src/apps/Map/components/GenreEventsLine/Background.ts
  src/apps/Map/components/GenreEventsLine/ScrollTriangle.ts
  src/apps/Map/components/GenreEventsLine/index.ts
  src/apps/Map/components/GenreIcon/index.ts
  src/apps/Map/components/GenreListView/GenreListInfo.ts
  src/apps/Map/components/GenreListView/index.tsx
  src/apps/Map/components/InfoTip/index.ts
  src/apps/Map/components/Timeline/index.ts
  src/apps/Map/components/Year/index.ts
  src/apps/Map/components/YearLine/index.ts
  src/apps/Map/modules/app.ts
  src/apps/Map/modules/constants.ts
  src/apps/Map/modules/events.ts
  src/apps/Map/modules/listeners.ts
  src/apps/Map/modules/routes.ts
  src/apps/Map/pages/GenreList/index.ts
  src/apps/SideBar/components/GenreView/index.tsx
  src/apps/SideBar/components/Settings/index.tsx
  src/apps/SideBar/components/TipView/index.tsx
  src/models/genres.ts
  src/models/reducers.ts
  src/models/store.ts
  src/modules/MapEvent.ts
  src/modules/debounce.ts
  src/modules/events.ts
  src/modules/image.ts
  src/modules/mobile.ts
Due: none

genre detail page
  public/icons/action.svg
  public/icons/adventure.svg
  public/icons/rpg.svg
  public/icons/stealth.svg
  public/images/1.jpg
  public/images/2.jpg
  public/images/3.jpg
  src/apps/Map/components/Background/index.ts
  src/apps/Map/components/Genre/PartTimeline.ts
  src/apps/Map/components/Genre/index.ts
  src/apps/Map/components/GenreEvent/Image.ts
  src/apps/Map/components/GenreEvent/Info.ts
  src/apps/Map/components/GenreEvent/InfoIcon.ts
  src/apps/Map/components/GenreEvent/TitleWrapper.ts
  src/apps/Map/components/GenreEvent/index.ts
  src/apps/Map/components/GenreEventsLine/index.ts
  src/apps/Map/components/GenreIcon/index.ts
  src/apps/Map/components/GenreListView/index.ts
  src/apps/Map/index.js
  src/apps/Map/modules/routes.ts
  src/apps/Map/pages/GenreDetail/index.ts
  src/apps/SideBar/App.jsx
  src/apps/SideBar/components/ArticleView/index.tsx
  src/apps/SideBar/components/GenreView/index.tsx
  src/apps/SideBar/components/Settings/index.tsx
  src/apps/SideBar/components/Settings/settings.less
  src/models/genre.ts
  src/models/genres.ts
  src/models/reducers.ts
  src/modules/GenreEventType.ts
  src/modules/MapEvent.ts
  src/modules/image.ts
  webpack.config.js
Due: eslint --fix, git add ., yarn stylelint --fix

move auth api data to env
  package.json
  src/apps/Map/modules/fetcher.ts
  src/apps/Map/modules/routes.ts
  webpack.config.js
  yarn.lock
Due: eslint --fix, git add .

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  git add .: any of: *.{js,jsx}
  yarn stylelint --fix: any of: *.less
